{
  "openapi": "3.1.0",
  "info": {
    "title": "Spotflow",
    "description": "",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "description": "Production server",
      "url": "https://api.spotflow.co/api/v1"
    }
  ],

  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/plans/{plan-id}/subscriptions": {
      "get": {
        "description": "Retrieve details of all subscriptions associated with a customer's plan ID.",
        "operationId": "SubscriptionsbyPlan",
        "parameters": [
          {
            "name": "plan-id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the plan whose subscriptions are to be retrieved.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON array of subscription objects.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SubscriptionsPlanResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionError401"
                }
              }
            }
          },
          "400": {
            "description": "Not Found - No subscriptions found for the given plan ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions": {
      "get": {
        "description": "Retrieve details of all subscriptions associated with a customer's plan ID or customer's email.",
        "operationId": "listSubscriptions",
        "parameters": [
          {
            "name": "customerId",
            "in": "query",
            "required": false,
            "description": "The unique identifier of the customer Id whose subscriptions are to be retrieved.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "email",
            "in": "query",
            "required": false,
            "description": "The unique identifier of the email whose subscriptions are to be retrieved.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination (default is 0).",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "description": "Number of items per page for pagination (default is 10).",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON array of subscription objects.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ListSubscriptionsResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionError401"
                }
              }
            }
          },
          "400": {
            "description": "Not Found - No subscriptions found for the given plan ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscription-id}": {
      "get": {
        "description": "Retrieve details of all subscriptions associated with a subscription ID.",
        "operationId": "SubscriptionDetails",
        "parameters": [
          {
            "name": "subscription-id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the subscription whose details are to be retrieved.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination (default is 0).",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "description": "Number of items per page for pagination (default is 10).",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON array of subscription objects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionError401"
                }
              }
            }
          },
          "400": {
            "description": "Not Found - No subscriptions found for the given plan ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscription-id}/activate": {
      "post": {
        "description": "Activate a subscription with the plan Id.",
        "operationId": "ActivateSubscription",
        "parameters": [
          {
            "name": "subscription-id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the plan whose subscriptions are to be retrieved.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON array of subscription objects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionError401"
                }
              }
            }
          },
          "400": {
            "description": "Not Found - No subscriptions found for the given plan ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscription-id}/cancel": {
      "post": {
        "description": "Cancel a subscription with the plan Id.",
        "operationId": "CancelSubscription",
        "parameters": [
          {
            "name": "subscription-id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the plan whose subscriptions are to be retrieved.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON array of subscription objects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionError401"
                }
              }
            }
          },
          "400": {
            "description": "Not Found - No subscriptions found for the given plan ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          }
        }
      }
    },
    "/plans": {
      "get": {
        "description": "Retrieve details of all subscription plans available on your integration.",
        "operationId": "SubsciptionsPlan",
        "parameters": [
          {
            "name": "title",
            "in": "query",
            "required": false,
            "description": "The unique identifier of the plan whose subscriptions are to be retrieved.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "internal-reference",
            "in": "query",
            "required": false,
            "description": "The unique identifier of the plan whose subscriptions are to be retrieved.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination (default is 0).",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "description": "Number of items per page for pagination (default is 10).",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON array of subscription objects.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PlansResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionError401"
                }
              }
            }
          },
          "400": {
            "description": "Not Found - No subscriptions found for the given plan ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Create a subscription plan under your integration.",
        "operationId": "singleSubsciptionsPlan",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "example": "Standard Monthly Plan",
                    "description": "Name or title of the plan"
                  },
                  "frequency": {
                    "type": "string",
                    "enum": [
                      "DAILY",
                      "WEEKLY",
                      "MONTHLY",
                      "  QUARTERLY",
                      "BIANNUAL",
                      "ANNUAL"
                    ],
                    "description": "Billing frequency for the plan"
                  },
                  "internalReference": {
                    "type": "string",
                    "description": "Internal reference code for the plan",
                    "example": "PLAN-STD-001"
                  },
                  "pricingOptions": {
                    "type": "array",
                    "description": "Pricing options for the plan",
                    "items": {
                      "type": "object",
                      "properties": {
                        "amount": {
                          "type": "number",
                          "description": "Amount to be charged per billing cycle"
                        },
                        "currency": {
                          "type": "string",
                          "description": "Currency code for the plan (e.g. USD, NGN)",
                          "example": "NGN"
                        }
                      },
                      "required": ["amount", "currency"]
                    }
                  },
                  "trial": {
                    "type": "object",
                    "properties": {
                      "periodInDays": {
                        "type": "number",
                        "default": 0
                      },
                      "pricingList": {
                        "type": "array",
                        "description": "Pricing options for the trial period",
                        "items": {
                          "type": "object",
                          "properties": {
                            "amount": {
                              "type": "number",
                              "description": "Amount to be charged during the trial period"
                            },
                            "currency": {
                              "type": "string",
                              "description": "Currency code for the trial period (e.g. USD, NGN)",
                              "example": "NGN"
                            }
                          },
                          "required": ["amount", "currency"]
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A JSON array of subscription objects.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SubscriptionPlanDetailsResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionError401"
                }
              }
            }
          },
          "400": {
            "description": "Not Found - No subscriptions found for the given plan ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          }
        }
      }
    },
    "/plans/{plan-id}/cancel": {
      "post": {
        "description": "Cancel a subscription with the plan Id.",
        "operationId": "CancelSubscriptionPlan",
        "parameters": [
          {
            "name": "plan-id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the plan whose subscriptions are to be retrieved.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON array of subscription objects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionPlanDetailsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionError401"
                }
              }
            }
          },
          "400": {
            "description": "Not Found - No subscriptions found for the given plan ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          }
        }
      }
    },
    "/bulk-plans": {
      "post": {
        "description": "Create multiple subscription plans under your integration.",
        "operationId": "CreateBulkSubscriptionPlans",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "CSV file containing bulk subscription data. Must be a .csv file."
                  },
                  "skipErrors": {
                    "type": "boolean",
                    "description": "The unique identifier of the plan whose subscriptions are to be retrieved.",
                    "enum": [true, false]
                  }
                },
                "required": ["file"]
              },
              "encoding": {
                "file": {
                  "contentType": "text/csv"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A JSON array of subscription objects.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionError401"
                }
              }
            }
          },
          "400": {
            "description": "Not Found - No subscriptions found for the given plan ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          }
        }
      }
    },
    "/plans/{plan-id}/activate": {
      "post": {
        "description": "Activate a subscription with the plan Id.",
        "operationId": "ActivateSubscriptionPlan",
        "parameters": [
          {
            "name": "plan-id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the plan whose subscriptions are to be retrieved.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON array of subscription objects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionPlanDetailsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionError401"
                }
              }
            }
          },
          "400": {
            "description": "Not Found - No subscriptions found for the given plan ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          }
        }
      }
    },
    "/plans/{plan-id}": {
      "get": {
        "description": "Retrieve details of a single subscription plan available on your integration.",
        "operationId": "GetSubscriptionPlan",
        "parameters": [
          {
            "name": "plan-id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the plan whose details are to be retrieved.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved subscription plan details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionPlanDetailsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionError401"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid plan ID provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Create or update a subscription plan under your integration using the provided plan ID.",
        "operationId": "CreateOrUpdateSubscriptionPlan",
        "parameters": [
          {
            "name": "plan-id",
            "in": "path",
            "required": true,
            "description": "Unique identifier for the plan to create or update.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "example": "Standard Monthly Plan",
                    "description": "Name or title of the plan"
                  },
                  "frequency": {
                    "type": "string",
                    "enum": [
                      "DAILY",
                      "WEEKLY",
                      "MONTHLY",
                      "  QUARTERLY",
                      "BIANNUAL",
                      "ANNUAL"
                    ],
                    "description": "Billing frequency for the plan"
                  },
                  "internalReference": {
                    "type": "string",
                    "description": "Internal reference code for the plan",
                    "example": "PLAN-STD-001"
                  },
                  "pricingOptions": {
                    "type": "array",
                    "description": "Pricing options for the plan",
                    "items": {
                      "type": "object",
                      "properties": {
                        "amount": {
                          "type": "number",
                          "description": "Amount to be charged per billing cycle"
                        },
                        "currency": {
                          "type": "string",
                          "description": "Currency code for the plan (e.g. USD, NGN)",
                          "example": "NGN"
                        }
                      },
                      "required": ["amount", "currency"]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Subscription plan successfully created or updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionPlanDetailsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid request body or parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions to create or modify the plan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionError403"
                }
              }
            }
          }
        }
      }
    },
    "/accounts": {
      "get": {
        "description": "This retrieves and lists all the wallets you've created. This is both for your main account and wallets.",
        "operationId": "ListWallets",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination (default is 0).",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "description": "Number of items per page for pagination (default is 10).",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "accountTag",
            "in": "query",
            "required": false,
            "description": "This can either be sub-account, or main-account.",
            "schema": {
              "type": "string",
              "enum": ["sub-account", "main-account"]
            }
          },
          {
            "name": "currency",
            "in": "query",
            "required": false,
            "description": "Choose the currency you want for your sub account. According, to our currently supported currencies, this is in NGN or GHS.",
            "schema": {
              "type": "string",
              "enum": ["NGN", "GHS"]
            }
          },
          {
            "name": "mode",
            "in": "query",
            "required": false,
            "description": "This can either be test or live mode.",
            "schema": {
              "type": "string",
              "enum": ["test", "live"]
            }
          },
          {
            "name": "accountNumber",
            "in": "query",
            "required": false,
            "description": "This filters by the account number created for the sub accounts.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON array of subaccounts objects.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SubAccountDetailsResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "400": {
            "description": "Not Found - No subscriptions found for the given plan ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Wallets are created only through the API and serve a unique purpose to act as a pocket of money where funds can sit in. Importantly, wallets do not require BVNs upon creation.",
        "operationId": "WalletCreation",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "example": "NGN",
                    "description": "According, to our currently supported currencies, this is in NGN and GHS."
                  },
                  "accountName": {
                    "type": "string",
                    "example": "Quantum Technologies",
                    "description": "Your desired name for your sub account."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A JSON array of subaccounts objects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateWalletDetailsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "400": {
            "description": "Not Found - No subscriptions found for the given plan ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          }
        }
      }
    },
    "/balances": {
      "get": {
        "description": "Retrieves paginated balances for main accounts with optional currency, mode, and date filters.",
        "operationId": "ListBalances",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination (default is 0).",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "description": "Number of items per page for pagination (default is 10).",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "currency",
            "in": "query",
            "required": false,
            "description": "Choose the currency you want for your sub account. According, to our currently supported currencies, this is in NGN or GHS.",
            "schema": {
              "type": "string",
              "enum": ["NGN", "GHS"]
            }
          },
          {
            "name": "mode",
            "in": "query",
            "required": false,
            "description": "This can either be test or live mode.",
            "schema": {
              "type": "string",
              "enum": ["test", "live"]
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON array of balances objects.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccountBalanceListResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "400": {
            "description": "Not Found - No subscriptions found for the given plan ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          }
        }
      }
    },
    "/balances/accounts/{accountNumber}/sub-balances": {
      "get": {
        "description": "Retrieves account balance details for all direct spotflow wallets of the specified main account in both NGN and GHS.",
        "operationId": "ListSpotflowWalletBalances",
        "parameters": [
          {
            "name": "accountNumber",
            "in": "path",
            "required": true,
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON array of balances objects.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccountBalanceListResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "400": {
            "description": "Not Found - No subscriptions found for the given plan ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          }
        }
      }
    },
    "/balances/accounts/{accountNumber}/balance": {
      "get": {
        "description": "Get account balance details for a specific spotflow-wallets before and after top-up in both NGN and GHS currency.",
        "operationId": "AccountBalance",
        "parameters": [
          {
            "name": "accountNumber",
            "in": "path",
            "required": true,
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON array of balances objects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountBalanceListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "400": {
            "description": "Not Found - No subscriptions found for the given plan ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{id}": {
      "get": {
        "description": "Get details of your created spotflow wallet by its ID. You can get this in either NGN or GHS.",
        "operationId": "AccountID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON array of account details objects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletDetailsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "400": {
            "description": "Not Found - No subscriptions found for the given plan ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          }
        }
      }
    },
    "/virtual-accounts/temporary": {
      "post": {
        "description": "This endpoint is used to create a dynamic account to receive payments.",
        "operationId": "DynamicAccountCreation",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "example": "NGN",
                    "description": "According, to our currently supported currencies, this is in NGN and GHS."
                  },
                  "accountName": {
                    "type": "string",
                    "example": "Quantum Technologies",
                    "description": "Your desired naming for your account."
                  },
                  "amount": {
                    "type": "number",
                    "format": "int32",
                    "description": "Amount should be in the subunit of our supported currency i.e NGN and GHS for now."
                  },
                  "expiresIn": {
                    "type": "number",
                    "format": "int32",
                    "description": "This is optional to add. By default, the time it takes for a virtual account to expire is 30 mins. However, you can customize the time to lesser as you desire."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A JSON array of dynamic account objects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DynamicDetailsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "400": {
            "description": "Not Found - No subscriptions found for the given plan ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          }
        }
      }
    },
    "/virtual-accounts/{id}": {
      "get": {
        "description": "Get details of your created virtual account by its ID.",
        "operationId": "DynamicAccountID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "This is the unique ID generated upon creation of your dynamic account in either NGN or GHS.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON array of dynamic details objects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DynamicDetailsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "400": {
            "description": "Not Found - No subscriptions found for the given plan ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          }
        }
      }
    },
    "/virtual-accounts": {
      "get": {
        "description": "This retrieves and lists all the active dynamic accounts you created.",
        "operationId": "ListDynamicAccount",
        "parameters": [
          {
            "name": "accountNumber",
            "in": "query",
            "required": true,
            "description": "This filters by the account number created for the virtual accounts.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON array of dynamic details objects.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DynamicDetailsResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "400": {
            "description": "Not Found - No subscriptions found for the given plan ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          }
        }
      }
    },
    "/transfers/bulk": {
      "post": {
        "description": "You can use this endpoint to perform bulk bank account transfer to multiple bank accounts.",
        "operationId": "CreateBulkTransfer",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "CSV file containing bulk transfer data. Must be a .csv file."
                  },
                  "category": {
                    "type": "string",
                    "description": "Specify a unique category of your choice for your company to track a transaction for later reconciliation."
                  },
                  "currency": {
                    "type": "string",
                    "description": "Select the currency for the transfer. This is in our supported currency which is currently only NGN and GHS.",
                    "enum": ["NGN", "GHS"]
                  },
                  "narration": {
                    "type": "string",
                    "description": "This is optional information for you to give details about the reason for the transfer"
                  }
                },
                "required": ["file", "category", "currency", "narration"]
              },
              "encoding": {
                "file": {
                  "contentType": "text/csv"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Bulk transfer created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferDetailsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid CSV or missing fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          }
        }
      },
      "get": {
        "description": "Get details of all bulk transfer files you have uploaded.",
        "operationId": "listBulkTransfers",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination (default is 0).",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "description": "Number of items per page for pagination (default is 10).",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "currency",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON array of bulk disbursements objects.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "content": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/TransferDetailsResponse"
                        }
                      },
                      "pageNumber": { "type": "integer" },
                      "pageSize": { "type": "integer" },
                      "totalElements": { "type": "integer" },
                      "totalPages": { "type": "integer" }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionError401"
                }
              }
            }
          },
          "400": {
            "description": "Not Found - No subscriptions found for the given plan ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          }
        }
      }
    },
    "/transfers/bulk/{id}": {
      "get": {
        "description": "Get details of an uploaded bulk disbursement by its id.",
        "operationId": "BulkTransferID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "This is the specific id used to get the individual transfer details in the uploaded bulk disbursement file.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON array of bulk disbursement details objects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferDetailsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "400": {
            "description": "Not Found - No subscriptions found for the given plan ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          }
        }
      }
    },
    "/transfers/bulk/categories": {
      "get": {
        "description": "Get details of an uploaded bulk disbursement by the categories you created with.",
        "operationId": "BulkTransferCategories",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON array of bulk disbursement details objects.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "example": "string"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "400": {
            "description": "Not Found - No subscriptions found for the given plan ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          }
        }
      }
    },
    "/transfers/bulk/{id}/transfers": {
      "get": {
        "description": "Get details of all bulk transfer files you have uploaded.",
        "operationId": "listBulkTransfersByID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "This is the specific id used to get the individual transfer details in the uploaded bulk disbursement file.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination (default is 0).",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination (default is 0).",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "description": "Number of items per page for pagination (default is 10).",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "currency",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON array of bulk disbursements objects.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TransferDetailsResponse"
                      }
                    },
                    "pageNumber": {
                      "type": "integer",
                      "example": 1
                    },
                    "pageSize": {
                      "type": "integer",
                      "example": 10
                    },
                    "totalElements": {
                      "type": "integer",
                      "example": 100
                    },
                    "totalPages": {
                      "type": "integer",
                      "example": 10
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionError401"
                }
              }
            }
          },
          "400": {
            "description": "Not Found - No subscriptions found for the given plan ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          }
        }
      }
    },
    "/transfers/bulk/validate": {
      "post": {
        "description": "Use this endpoint to confirm your bulk disbursement CSV file has all the necessary details needed and won't fail when uploaded for the bulk transfer transaction.",
        "operationId": "ValidateBulkTransfer",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "Upload the file content and must in CSV format.",
                    "format": "binary"
                  }
                },
                "required": ["file"]
              },
              "example": {
                "file": "string"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "A JSON array of create bulk disbursement objects.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "failedRequests": {
                      "type": "array",
                      "default": []
                    },
                    "totalRequests": {
                      "type": "number",
                      "format": "int32"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "400": {
            "description": "Not Found - No subscriptions found for the given plan ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          }
        }
      }
    },
    "/transfers": {
      "post": {
        "description": "You can use this endpoint to perform bank account transfer from your main account",
        "operationId": "CreateSingleDisbursement",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reference": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "amount": {
                    "type": "integer",
                    "format": "float"
                  },
                  "currency": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  },
                  "source": {
                    "type": "object",
                    "properties": {
                      "accountNumber": {
                        "type": "string"
                      }
                    }
                  },
                  "destination": {
                    "type": "object",
                    "properties": {
                      "accountNumber": {
                        "type": "string"
                      },
                      "accountName": {
                        "type": "string"
                      },
                      "bankCode": {
                        "type": "string"
                      },
                      "branchCode": {
                        "type": "string"
                      }
                    }
                  },
                  "narrations": {
                    "type": "string"
                  }
                },
                "required": [
                  "reference",
                  "destination",
                  "source",
                  "amount",
                  "currency",
                  "type"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "A JSON array of create single disbursement objects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferDetailsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "400": {
            "description": "Not Found - No subscriptions found for the given plan ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          }
        }
      }
    },
    "/transfers/banks/{currency}": {
      "get": {
        "description": "Get details of all bulk transfer files you have uploaded.",
        "operationId": "TransferBank",
        "parameters": [
          {
            "name": "currency",
            "in": "path",
            "required": true,
            "description": "Currently we support NGN or GHS",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON array of bank list objects.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "bankCode": {
                        "type": "string",
                        "example": "PB-56234"
                      },
                      "bankName": {
                        "type": "string",
                        "example": "Nombank"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionError401"
                }
              }
            }
          },
          "400": {
            "description": "Not Found - No subscriptions found for the given plan ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          }
        }
      }
    },
    "/transfers/resolve-account": {
      "get": {
        "description": "Get details of all bulk transfer files you have uploaded.",
        "operationId": "ResolveAccount",
        "parameters": [
          {
            "name": "accountNumber",
            "in": "query",
            "required": true,
            "description": "This is the account number you want to get/validate.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bankCode",
            "in": "query",
            "required": true,
            "description": "This is the bank code of the account number on our system.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "currency",
            "in": "query",
            "required": true,
            "description": "Select the currency for the payment charge. This is in our supported currency which is currently only NGN. Please note that only NGN accounts works with resolve bank accounts.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON array of resolve transfers objects.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accountName": {
                      "type": "string",
                      "example": "string"
                    },
                    "accountNumber": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionError401"
                }
              }
            }
          },
          "400": {
            "description": "Not Found - No subscriptions found for the given plan ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          }
        }
      }
    },
    "/transfers/reference/{reference}": {
      "get": {
        "description": "Get details of a particular transfer by its reference id.",
        "operationId": "TransactionReference",
        "parameters": [
          {
            "name": "reference",
            "in": "path",
            "required": true,
            "description": "This is the reference id of the transfer that you made on your account using what's in the 'reference' and not 'spotflowReference.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferDetailsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionError401"
                }
              }
            }
          },
          "400": {
            "description": "Not Found - No subscriptions found for the given plan ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          }
        }
      }
    },
    "/transfers/banks/{bank-code}/branches": {
      "get": {
        "description": "Retrieves a list of supported branches for a for transfers in the specified mode and selected currency",
        "operationId": "BranchesBankCode",
        "parameters": [
          {
            "name": "bankCode",
            "in": "query",
            "required": true,
            "description": "This is the bank code of the account number on our system.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON array of bank branches objects.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "bankCode": {
                      "type": "string",
                      "example": "string"
                    },
                    "bankName": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionError401"
                }
              }
            }
          },
          "400": {
            "description": "Not Found - No subscriptions found for the given plan ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          }
        }
      }
    },
    "/payments": {
      "get": {
        "description": "Get details of all payments collection done via your keys.",
        "operationId": "GetPaymentById",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination (default is 0).",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination (default is 0).",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "description": "Number of items per page for pagination (default is 10).",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "reference",
            "in": "query",
            "required": false,
            "description": "The unique identifier of the payment.",
            "schema": {
              "type": "number",
              "format": "int32"
            }
          },

          {
            "name": "query",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string",
              "description": "This can either be successful, failed or pending."
            }
          },
          {
            "name": "channel",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string",
              "enum": ["card", "bank_transfer", "mobile_money", "eft"],
              "description": "This can either be card, bank transfer, mobile_money, or eft for local currency payments."
            }
          },
          {
            "name": "provider",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string",
              "description": "These are available payment providers on Spotflow."
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON array of payment objects.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PaymentResponse"
                      }
                    },
                    "pageNumber": {
                      "type": "integer",
                      "example": 1
                    },
                    "pageSize": {
                      "type": "integer",
                      "example": 10
                    },
                    "totalElements": {
                      "type": "integer",
                      "example": 100
                    },
                    "totalPages": {
                      "type": "integer",
                      "example": 10
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "400": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "If you have PCI-DSS certification, use this endpoint to collect payments using different payment methods. Note that for card payments, you'll use the authorize endpoint to input either the OTP or PIN.",
        "operationId": "CreatePayment",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reference": {
                    "type": "string",
                    "example": "string",
                    "description": "Specify a unique reference ID generated by your company to identify each customer."
                  },
                  "amount": {
                    "type": "number",
                    "example": 100,
                    "description": "Amount should be in the subunit of our supported currency i.e your local currency or USD. This is not needed if you use a planId in your request."
                  },
                  "currency": {
                    "type": "string",
                    "example": "USD",
                    "description": "Select the currency for the payment charge. Can either be in USD or in the local currency of your collection region. If you put in USD, you have to put in the local currency of the region in the local currency request field."
                  },
                  "planId": {
                    "type": "string",
                    "example": "95eb086a-b11a-44b2-8422-a1955ca0fd9a",
                    "description": "Used when paying for a subscription plan."
                  },
                  "localCurrency": {
                    "type": "string",
                    "example": "NGN",
                    "description": "This is the local currency of your region. Used only when currency is set to USD. According to the local region, this can either be in NGN, GHS, ZAR, TZS, KSH etc."
                  },
                  "channel": {
                    "type": "string",
                    "enum": ["card", "bank_transfer", "mobile_money", "eft"],
                    "description": "Channel can be Card, Bank Transfer, Mobile Money or EFT depending on the region",
                    "example": "card"
                  },
                  "encryptedCard": {
                    "type": "string",
                    "example": "8NqWW9RdFa+iNM6+Y4k92V0n3xxxxxxxxxxxx",
                    "description": "This contains the encrypted card data (token) and encryption key information gotten from your dashboard. This is based on the AES-256-GCM encryption algorithm. According to compliance rules, you can do this if you have PCI-DSS certification."
                  },
                  "mobileMoney": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "string",
                        "example": "atl"
                      },
                      "phoneNumber": {
                        "type": "string",
                        "example": "+2547100xxxx"
                      }
                    },
                    "description": "This is the phone number of the region you want to put in. E.g mobile_money number for Ghana, Kenya, Tanzania etc."
                  },
                  "callBackUrl": {
                    "type": "string",
                    "format": "url",
                    "example": "https://yourapp.com/callback",
                    "description": "This is the URL you want your users to be redirected to after making payments. You can also set this permanently on your Spotflow dashboard."
                  },
                  "metadata": {
                    "type": "object",
                    "properties": {
                      "productName": {
                        "type": "string",
                        "example": "Algo.ai"
                      }
                    },
                    "description": "This is information pertaining to additional details about your product or service. Under metadata, you have productName” as a field — This is necessary for you to add as it indicates the name of your product and helps to specify to your user what your product is called. You can add any other additional field as you deem fit."
                  },
                  "customer": {
                    "type": "object",
                    "properties": {
                      "email": {
                        "type": "string",
                        "format": "email",
                        "example": "john@example.com"
                      }
                    },
                    "required": ["email"],
                    "description": "The customer’s email address"
                  }
                },
                "required": ["reference", "currency", "channel", "customer"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A JSON array of create payment objects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "400": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          }
        }
      }
    },
    "/payments/initialize": {
      "post": {
        "description": "This is Spotflow's Redirect Checkout. Initiate a payment request to generate a unique payment reference, payment code and checkout URL for your customers",
        "operationId": "IntializePayment",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reference": {
                    "type": "string",
                    "example": "string",
                    "description": "Specify a unique reference ID generated by your company to identify each customer."
                  },
                  "amount": {
                    "type": "number",
                    "example": 0,
                    "description": "Amount should be in the subunit of our supported currency i.e your local currency or USD. This is not needed if you use a planId in your request."
                  },
                  "expiresIn": {
                    "type": "number",
                    "example": 10,
                    "description": "The default maximum expiry time is 30 mins. However, you can set yours to the time you desire. The least time you can set is 5 mins."
                  },
                  "planId": {
                    "type": "string",
                    "example": "95eb086a-b11a-44b2-8422-a1955ca0fd9a",
                    "description": "Used when paying for a subscription plan."
                  },
                  "currency": {
                    "type": "string",
                    "enum": ["USD", "NGN", "GHS", "KES", "ZAR", "TZS"],
                    "example": "USD",
                    "description": "Select the currency for the payment charge. Can either be in USD or in the local currency of your collection region. If you put in USD, you have to put in the local currency of the region in the local currency request field."
                  },
                  "localCurrency": {
                    "type": "string",
                    "enum": ["NGN", "GHS", "KES", "ZAR", "TZS"],
                    "example": "NGN",
                    "description": "This is the local currency of your region. Used only when currency is set to USD. According to the local region, this can either be in NGN, GHS, ZAR, TZS, KSH etc."
                  },
                  "callBackUrl": {
                    "type": "string",
                    "format": "url",
                    "example": "https://yourapp.com/callback",
                    "description": "This is the URL you want your users to be redirected to after making payments. You can also set this permanently on your Spotflow dashboard."
                  },
                  "mobileMoney": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "string",
                        "example": "atl"
                      },
                      "phoneNumber": {
                        "type": "string",
                        "example": "+2547100xxxx"
                      }
                    },
                    "description": "This is the phone number of the region you want to put in. E.g mobile_money number for Ghana, Kenya, Tanzania etc."
                  },
                  "metadata": {
                    "type": "object",
                    "properties": {
                      "productName": {
                        "type": "string",
                        "example": "Algo.ai"
                      }
                    },
                    "description": "This is information pertaining to additional details about your product or service. Under metadata, you have productName” as a field — This is necessary for you to add as it indicates the name of your product and helps to specify to your user what your product is called. You can add any other additional field as you deem fit."
                  },
                  "customer": {
                    "type": "object",
                    "properties": {
                      "email": {
                        "type": "string",
                        "format": "email",
                        "example": "john@example.com"
                      }
                    },
                    "required": ["email"],
                    "description": "The customer’s email address"
                  }
                },
                "required": ["reference", "currency", "customer"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A JSON array of intialize payment objects.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "reference": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "checkoutUrl": {
                      "type": "string",
                      "format": "url",
                      "example": "https://checkout.spotflow.co/paymentCode"
                    },
                    "paymentCode": {
                      "type": "string",
                      "example": "PAY123456789"
                    },
                    "status": {
                      "type": "string",
                      "example": "pending"
                    },
                    "mode": {
                      "type": "string",
                      "example": "TEST"
                    },
                    "expiryTime": {
                      "type": "string",
                      "example": "2025-11-03T10:16:26.948278058"
                    },
                    "callBackUrl": {
                      "type": "string",
                      "format": "url",
                      "example": "https://yourapp.com/callback"
                    },
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "productName": {
                          "type": "string",
                          "example": "Algo.ai"
                        }
                      },
                      "description": "This is information pertaining to additional details about your product or service."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "400": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          }
        }
      }
    },
    "/payments/authorize": {
      "post": {
        "description": "This authorizes a payment by pre-approving the transaction before final validation. Authorization required could be PIN, OTP, 3DS, AVS, etc. ",
        "operationId": "AuthorizePayment",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reference": {
                    "type": "string",
                    "example": "string",
                    "description": "Specify a unique reference ID generated by your company to identify each customer."
                  },
                  "authorization": {
                    "type": "object",
                    "properties": {
                      "otp": {
                        "type": "string",
                        "example": "0xxx"
                      },
                      "pin": {
                        "type": "string",
                        "example": "01xx"
                      }
                    },
                    "description": "A confidential or secret code required to authenticate and verify identity for card transactions."
                  }
                },
                "required": ["reference", "authorization"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A JSON array of authorize payment objects.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                    },
                    "reference": {
                      "type": "string",
                      "example": "REF123456789"
                    },
                    "spotflowReference": {
                      "type": "string",
                      "example": "SPF-REF-001"
                    },
                    "amount": { "type": "number", "example": 100.0 },
                    "currency": { "type": "string", "example": "USD" },
                    "localAmount": { "type": "number", "example": 156000.0 },
                    "totalFees": { "type": "number", "example": 500.0 },
                    "localCurrency": { "type": "string", "example": "NGN" },
                    "channel": { "type": "string", "example": "card" },
                    "status": { "type": "string", "example": "SUCCESS" },
                    "customer": {
                      "type": "object",
                      "properties": {
                        "id": { "type": "string", "format": "uuid" },
                        "email": {
                          "type": "string",
                          "example": "john@example.com"
                        }
                      }
                    },
                    "providerMessage": {
                      "type": "string",
                      "example": "Please enter your OTP sent to your phone"
                    },
                    "rate": { "type": "number", "example": 1560.0 },
                    "region": { "type": "string", "example": "Nigeria" },
                    "authorization": {
                      "type": "object",
                      "properties": {
                        "mode": { "type": "string", "example": "otp" }
                      }
                    },
                    "card": {
                      "type": "object",
                      "properties": {
                        "type": { "type": "string", "example": "VISA" },
                        "firstSix": { "type": "string", "example": "412345" },
                        "lastFour": { "type": "string", "example": "6789" }
                      }
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2025-10-17T15:21:11.287Z"
                    },
                    "metadata": {
                      "type": "object",
                      "additionalProperties": { "type": "string" },
                      "example": {
                        "orderId": "ORD-000123",
                        "note": "First payment"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error401"
                }
              }
            }
          },
          "400": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error400"
                }
              }
            }
          }
        }
      }
    },
    "/payments/{payment-id}": {
      "get": {
        "description": "Get details of a specific payment by its ID",
        "operationId": "GetPaymentById",
        "parameters": [
          {
            "name": "payment-id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the payment.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON array of payment objects.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                    },
                    "reference": {
                      "type": "string",
                      "example": "REF123456789"
                    },
                    "spotflowReference": {
                      "type": "string",
                      "example": "SPF-REF-001"
                    },
                    "amount": { "type": "number", "example": 100.0 },
                    "currency": { "type": "string", "example": "USD" },
                    "localAmount": { "type": "number", "example": 156000.0 },
                    "totalFees": { "type": "number", "example": 500.0 },
                    "localCurrency": { "type": "string", "example": "NGN" },
                    "channel": { "type": "string", "example": "card" },
                    "status": { "type": "string", "example": "SUCCESS" },
                    "customer": {
                      "type": "object",
                      "properties": {
                        "id": { "type": "string", "format": "uuid" },
                        "email": {
                          "type": "string",
                          "example": "john@example.com"
                        }
                      }
                    },
                    "providerMessage": {
                      "type": "string",
                      "example": "Please enter your OTP sent to your phone"
                    },
                    "rate": { "type": "number", "example": 1560.0 },
                    "region": { "type": "string", "example": "Nigeria" },
                    "authorization": {
                      "type": "object",
                      "properties": {
                        "mode": { "type": "string", "example": "otp" }
                      }
                    },
                    "card": {
                      "type": "object",
                      "properties": {
                        "type": { "type": "string", "example": "VISA" },
                        "firstSix": { "type": "string", "example": "412345" },
                        "lastFour": { "type": "string", "example": "6789" }
                      }
                    },
                    "createdAt": {
[...]
